<mat-toolbar class="container">
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>menu</mat-icon>
  </button>
  
  <img src="https://i.etsystatic.com/32141303/r/il/a1abbe/3390300768/il_570xN.3390300768_ptii.jpg" width="50px">
  <h1> Moicho's</h1>
  <mat-menu class="principal" #menu="matMenu">
    <button routerLink="/menu" routerLinkActive="active" mat-menu-item>
      <mat-icon>people</mat-icon>
      <span>Usuarios</span>
    </button>
    <mat-list class="lista" role="list">
      <mat-list-item role="listitem">
        <mat-icon class="submenu">person_search</mat-icon>Perfil
      </mat-list-item>
      <mat-list class="lista" role="list">
        <mat-list-item class="menupr" role="listitem">
          <mat-icon class="submenu">person_2</mat-icon>Datos
        </mat-list-item>
        <mat-list-item class="menupr" role="listitem">
          <mat-icon class="submenu">lock</mat-icon>Privacidad
        </mat-list-item>
        <mat-list-item  class="menupr"role="listitem">
          <mat-icon class="submenu">credit_card</mat-icon>Metodos de Pago
        </mat-list-item>
        <mat-list class="lista" role="list">
        </mat-list>
      </mat-list>
      <mat-list-item role="listitem">
        <mat-icon class="submenu">airport_shuttle</mat-icon>Viajes
      </mat-list-item>
      <mat-list-item role="listitem">
        <mat-icon class="submenu">shopping_cart</mat-icon>Pedidos
      </mat-list-item>
    </mat-list>
    <button mat-menu-item>
      <mat-icon>settings</mat-icon>
      <span>Configuracion</span>
    </button>

    <button mat-menu-item>
      <mat-icon>logout</mat-icon>
      <span>Salir</span>
    </button>
  </mat-menu>


  <span class="example-spacer"></span>
  <button routerLink="/" routerLinkActive="active" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>home</mat-icon>
  </button>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>people</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>logout</mat-icon>
  </button>


</mat-toolbar>
<hr>
<router-outlet></router-outlet>
