.example-spacer {
    flex: 1 1 auto;
}

.lista {
    
    cursor: pointer;
}

mat-icon {
    color: #b52e31;
}

.mat-menu-item .mat-icon {
    color: #b52e31;

}

.container {
    background: white
}

hr {
    height: 1px;
    background: #b52e31
}

.angular {
    width: 10%;
    margin-left: 2%;
}

.submenu {
    margin-right: 10px;
    cursor: pointer;

}

.menupr{
    margin-left: 5px;
}


.mat-menu-item {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.mat-list-item {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
   
}

.mat-list-base .mat-list-item .mat-list-item-content, .mat-list-base .mat-list-option .mat-list-item-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    padding: 0 16px;
    position: relative;
    height: inherit;
    margin-left: 25px;
}

