/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-menu-panel {
    background: #fff;
    height: 100%;
    position: absolute;
    top: 10px;
    width: auto ;
    height: auto;
    margin-left: -15px;
    background: rgb(237 236 236)
    
}

.mat-list-base .mat-list-item .mat-list-item-content, .mat-list-base .mat-list-option .mat-list-item-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    
    position: relative;
    height: inherit;
    margin-left: 20px;
   
}

.mat-list-base .mat-list-item .mat-list-item-content:hover {
    background: linear-gradient(309deg, rgb(199 191 191)0px, rgba(255, 0, 0, 0) 176px);
}


